
<div class="banner_show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "croix_rouge.jpeg"%>'); height: calc(100vh - 50px);">
  <div class="d-flex justify-content-center">
    <h1 class="charity_event_title"><%= @charity_event.title %></h1>
  </div>
  <div class="d-flex justify-content-center">
    <h1>du <%= @charity_event.date_beginning %> au <%= @charity_event.date_ending %></h1>
  </div>
</div>

<div classe="container">

  <div class="d-flex justify-content-between">

    <div  class="row col-8">
      <h2><%= @charity_event.charity_name %></h2>
      <p><%= @charity_event.description %></p>
    </div>

    <div class="row col-4">
      <p><%= @charity_event.total_donation %></p>
    </div>

  </div>

</div>
