<h2><%= @charity_event.title %></h2>
<p><%= @charity_event.charity_name %></p>
<p><%= @charity_event.date_biginning %></p>
<p><%= @charity_event.date_ending %></p>
<p><%= @charity_event.total_donation %></p>
