<% unless users.nil? %>
  <% users.each do |user| %>
    <% if user == current_user %>
      <%= link_to dashboard_path, style: "text-decoration: none" do %>
        <div class="user-list">
          <% if user.photo.attached? %>
            <%= cl_image_tag user.photo.key, class: "avatar" %>
          <% else %>
            <%= cl_image_tag 'pq_lvrytp', class: "avatar" %>
          <% end %>
          <div class="user-list-content">
            <p><%= user.first_name %> <strong><%= user.last_name %></strong></p>
            <p><small><%= user.nickname %></small></p>
          </div>
          <div class="user-list-actions">
            <%# <%= link_to "Profile", user_path(user) %>
          </div>
        </div>
      <% end %>
    <% else %>
      <%= link_to user_path(user), style: "text-decoration: none" do %>
        <div class="user-list">
          <% if user.photo.attached? %>
            <%= cl_image_tag user.photo.key, class: "avatar" %>
          <% else %>
            <%= cl_image_tag 'pq_lvrytp', class: "avatar" %>
          <% end %>
          <div class="user-list-content">
            <p><%= user.first_name %> <strong><%= user.last_name %></strong></p>
            <p><small><%= user.nickname %></small></p>
          </div>
          <div class="user-list-actions">
            <%# <%= link_to "Profile", user_path(user) %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
