<%= render "shared/banner" %>

<div class="container text-center mt-2" style="position: relative;
    top: -120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center">

  <% if @user.photo.attached?  %>
    <%= cl_image_tag @user.photo.key, class: "avatar-large-centered", crop: :fill %>
  <% else %>
    <img class="avatar-large-centered" alt="avatar-large" src="https://images.unsplash.com/photo-1590860773824-a6767b15dd59?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fG5vdGhpbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
  <% end %>
  <%#= link_to "éditer son profil", edit_user_registration_path, class: 'btn btn-link' %>

</div>

<div class="container text-center">

  <div class="d-flex justify-content-between">

    <div class="counter-left">
      <h4><strong>Nombre de pas</strong></h4>
      <p><em>au <%= I18n.l Date.today, format:"%d %B %Y" %></em></p>
      <div class="d-flex align-items-center">
        <i class="fas fa-shoe-prints mr-2" style="font-size: 24px"></i>
        <h2 class="btn btn-lg btn-primary disabled"><%= number_with_delimiter(@user.steps.where(date: Date.today).first.nb_steps, :delimiter => ',') %></h2>
      </div>
    </div>

    <div class="counter-right">
      <h4><strong>Total dons</strong></h4>
      <p><em>au <%= I18n.l Date.today, format:"%d %B %Y" %></em></p>
      <div class="d-flex align-items-center">
        <h2 class="btn btn-lg btn-primary mr-2 disabled">45</h2>
        <i class="fas fa-hand-holding-usd" style="font-size: 24px"></i>
      </div>
    </div>
  </div>

  <%= render 'shared/tasks_navbar_personal',
  label: "Vos statistiques",
  tab_one: "Semaine",
  tab_two: "Mois",
  tab_three: "Kilomètres",
  id_tab_one: "week", message_tab_one: @week_message, steps_tab_one: @week_steps,
  id_tab_two: "month", message_tab_two: @month_message, steps_tab_two: @month_steps,
  myclass: "" %>


  <%= render 'shared/tasks_navbar_team',
  label: "Vos teams",
  tab_one: "Team 1",
  tab_two: "Team 2",
  tab_three: "Team 3",
  id_tab_one: "team-one", message_tab_one: @team_message, steps_tab_one: @team_one_steps,
  myclass: "mt-5" %>

</div>