    <div>
    <div>
        <% @accepted_friend_requests_received.each do |friend_request| %>
            <%= cl_image_tag friend_request.asker.photo.key, {class:"avatar-plus"} %>
            <div>
                <div>
                    <h2><%= friend_request.asker.nickname %></h2>
                    <p><%= friend_request.asker.teams.name %></p>
                </div>
            </div>
        <% end %>

        <% @accepted_friend_requests_sent.each do |friend_request| %>
            <%= cl_image_tag friend_request.receiver.photo.key, {class:"avatar-plus"} %>
            <div>
                <div>
                    <h2><%= friend_request.receiver.nickname %></h2>
                    <p><%= friend_request.receiver.teams.name %></p>
                </div>
            </div>
        <% end %>
    </div>
</div>