<div>

    <div class="card-product-infos">
        <% @accepted_friend_requests_received.each do |friend_request| %>

            <%= link_to user_path(friend_request.asker) do %>
            <div class="avatar_wrap" style="width: 40px">


                <%= cl_image_tag friend_request.asker.photo.key, class:"avatar-bordered", style:"width: 70px" %>
                            <div class="avatar_bio">
                              <%= friend_request.asker.nickname  %>
                            </div>
            </div>
            <%end %>
        <% end %>


    <% @accepted_friend_requests_sent.each do |friend_request| %>
        <%= link_to user_path(friend_request.receiver) do %>
        <div class="avatar_wrap">
            <%= cl_image_tag friend_request.receiver.photo.key, {class:"avatar-bordered"} %>
            <div class="avatar_bio">
              <%= friend_request.receiver.nickname  %>
            </div>
        </div>
        <%end %>
    <% end %>
    </div>

</div>

<style>

  .avatar_wrap {
      position: relative;
      display: flex;
      align-items: center;
  }

  .show_me {
      display: block!important;
      text-decoration: none;
  }

  .avatar_bio {
    display: none;
    text-decoration: none;
    margin-left: 8px;
    color: grey;
  }

<style>

.avatar_wrap{
    position: relative;
}

.show_me {
    display: block!important;
}

.avatar_bio{
    display:none;
}

</style>


<script>
    document.querySelectorAll('.avatar_wrap').forEach(item => {
        item.addEventListener('mouseover', event => {
            console.log(event)
            item.getElementsByClassName('avatar_bio')[0].classList.add("show_me")
        })
    })
    document.querySelectorAll('.avatar_wrap').forEach(item => {
        item.addEventListener('mouseleave', event => {
            item.getElementsByClassName('avatar_bio')[0].classList.remove("show_me")
        })
    })
</script>
