<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png", :style => "width: 200px" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding: 20px 40px;">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item mr-3">
          <% if CharityEvent.last != nil  %>
            <%= link_to "Découvrir #{CharityEvent.last.charity_name}", charity_event_path(CharityEvent.last), class: "nav-link bg-primary text-white rounded", id: "charity-button" %>
          <% else %>
            <%= link_to "The charity event", root_path , class: "nav-link bg-success text-success rounded", id: "charity-button" %>
          <% end %>
        </li>
        <li class="btn btn-success mr-2 rounded">
          <%= link_to "Faire un don", donate_path, class: "nav-link p-0", :style => "color: white"%>
        </li>
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Profil", dashboard_path, class: "nav-link" %>
        </li>
        <li class="nav-item" style="margin: 0px 20px;">
          <%= link_to dashboard_path, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false do %>
          <div class="notif">
            <i class="far fa-bell fa-lg" id="navbarDropdown" data="{ toggle: 'dropdown' }"></i>
            <div style="border-radius: 50%;background-color: #4F4F4F;color: white;position: absolute;top: 22px;right: 140px;right: 140px;width: 20px;height: 20px;text-align: center;">
              <p style="margin: -2px 0px;"> <%= @count_new_notifs %> </p>
            </div>
          </div>
          <% end %>

          <% unless @notifs == 0 %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" style="margin: 0px 0px;">
              <h4 class="text-center pt-2 text-success"><strong>Demande d'ami :</strong></h4>
              <hr>
              <% @notifs.each do |friend| %>
                <div class="d-flex">
                  <% if friend.asker.photo.attached? %>
                    <%= cl_image_tag friend.asker.photo.key, crop: :fill, style: "width: 60px;height: 60px;border-radius: 50%;", class: "mx-3" %>
                  <% end %>
                  <p style="width: 300px; padding: 8px; margin-bottom: 0px">
                    <strong><%= link_to  "#{friend.asker.first_name} #{friend.asker.last_name}", user_path(friend.asker.id), class: "show"%></strong> vous demande en amis.
                  </p>
                </div>
                <% if friend != @notifs.last %>
                <hr>
                <% end  %>
              <% end %>
            </div>
          <% end %>
        </li>
        <li style="margin-right: 15px;">
          <i class="fas fa-grip-lines-vertical" style="opacity: 0.5; margin-top: 12px"></i>
        </li>
        <li class="nav-item dropdown ml-2">
          <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Éditer", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
          <% else %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete%>
          <% end  %>
        </li>
      <% else %>
        <li class="nav-item mr-3">
          <%= link_to "Découvrir #{CharityEvent.last.charity_name}", charity_event_path(CharityEvent.last), class: "nav-link", id: "charity-button" %>
        </li>
        <li class="btn btn-success mr-2">
          <%= link_to "Faire un don", donate_path, class: "nav-link p-0", :style => "color: white"%>
        </li>
        <li class="nav-item">
          <%# <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          <%= link_to "Log in", user_google_oauth2_omniauth_authorize_path, method: :post, class: "btn btn-info" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
