<div class="d-block show col-md-auto col-md-auto" style="margin-top: -170px;">
    <h1><%= label %></h1>
    <ul class="nav nav-tabs user-tasks-navbar btn-group" id="myTab" role="tablist">
      <li class="nav-item btn-success col-4" role="presentation">
        <a class="nav-link user-tasks-navbar-tab active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><%= tab_one %></a>
      </li>
      <li class="nav-item btn-success col-4" role="presentation">
        <a class="nav-link user-tasks-navbar-tab" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><%= tab_two %></a>
      </li>
      <li class="nav-item btn-success col-4" role="presentation">
        <a class="nav-link user-tasks-navbar-tab" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false"><%= tab_three %></a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">

      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div id="chart-week" style="height: 300px; margin-top: 40px" data-steps="<%= @week_steps.to_json %>"></div>
      </div>

      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div>
          <div id="chart-month" style="height: 300px; margin-top: 40px" data-steps="<%= @month_steps.to_json %>"></div>
        </div>
      </div>

      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <div>
          <p style="height: 400px; font-size: 200px">TO DO</p>
        </div>
      </div>

    </div>
  </div>
