<div class="d-block show col-md-auto col-md-auto <%= myclass %>" style="">
  <div class="card-trip-statistics" style="box-shadow: 0 0 15px rgb(0 0 0 / 20%)">
    <h1><%= label %></h1>
    <div class="card-trip-statistics">
      <ul class="nav nav-tabs user-tasks-navbar btn-group" id="myTab" role="tablist">
        <li class="nav-item col-6" role="presentation" style="padding-right: 0px; padding-left: 0px">
          <a class="nav-link user-tasks-navbar-tab active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" style="border-top-left-radius: 20px;border-bottom-left-radius: 20px;"><%= tab_one %></a>
        </li>
        <li class="nav-item col-6" role="presentation" style="padding-right: 0px; padding-left: 0px">
          <a class="nav-link user-tasks-navbar-tab" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" style="border-top-right-radius: 20px;border-bottom-right-radius: 20px;"><%= tab_two %></a>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

          <div class="row">

            <h2 style="margin-top: 20px; font-size: 24px"><em><%= message_tab_one %></em></h2>
            <% steps_tab_one.each_with_index do |company, i| %>

              <div class="col-3 d-flex justify-content-center">
                <div style="width: 120px; display: flex; align-items: center; justify-content: center">
                  <div class=" bg-success text-center box-donate2" style="border-radius: 5px">
                    <h1 class='m-0 text-white'># <%= i + 1%></h1>
                  </div>
                </div>
              </div>

              <div class="col-9">
                <div class="card-product home mt-4">
                  <% if company[0][-1].photo.attached? %>
                    <%= cl_image_tag company[0][-1].photo.key %>
                  <% else %>
                    <img src="https://st4.depositphotos.com/14953852/24787/v/600/depositphotos_247872612-stock-illustration-no-image-available-icon-vector.jpg" alt="No image available">
                  <% end %>
                  <div id="chart-home-company-<%= i + 1%>" style="margin-left: 16px; width: 70%" data-steps="<%= company.last(3).to_json %>"></div>
                </div>
              </div>

            <% end %>

          </div>
        </div>

        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

            <div class="row">
            <h2 style="margin-top: 20px; font-size: 24px"><em><%= message_tab_two %></em></h2>
            <% steps_tab_two.each_with_index do |walker, i| %>

              <div class="col-3 d-flex justify-content-center">
                <div style="width: 120px; display: flex; align-items: center; justify-content: center">
                  <div class=" bg-success text-center box-donate2" style="border-radius: 5px">
                    <h1 class='m-0 text-white'># <%= i + 1%></h1>
                  </div>
                </div>
              </div>

              <div class="col-9">
                <div class="card-product home mt-4">
                  <% if walker[0][-1].photo.attached? %>
                    <%= cl_image_tag walker[0][-1].photo.key %>
                  <% else %>
                    <%= cl_image_tag 'pq_lvrytp' %>
                  <% end %>
                  <div id="chart-home-walker-<%= i + 1%>" style="margin-left: 16px; height: 150px; width: 70%" data-steps="<%= walker.last(2).to_json %>"></div>
                </div>
              </div>

            <% end %>

          </div>
        </div>
    </div>

    </div>
  </div>
</div>
