<%# <%= render "shared/banner" %>
<div style="    width: 100%;background-color: #6da8b3;height: 200px;">
</div>
<div class="container bg-white rounded d-flex" style="width: 100%;height: 300px;position: relative;top: -100px; justify-content: space-around;align-items: center; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
  <div style="display: flex;align-items: center;">
    <% if current_user.photo.attached?  %>
      <%= cl_image_tag current_user.photo.key, style:"width: 220px;height: 220px;border-radius: 50%; box-shadow: 0px 3px 20px rgb(0 0 0 / 15%)", crop: :fill %>
    <% else %>
      <img style="width: 160px;height: 160px;border-radius: 50%; box-shadow: 0px 3px 20px rgb(0 0 0 / 15%)" alt="avatar-large" src="https://images.unsplash.com/photo-1590860773824-a6767b15dd59?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fG5vdGhpbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
    <% end %>
  </div>
  <div style="display: flex;align-content: center;flex-direction: column;justify-content: center;align-items: flex-start;">
    <div class="d-flex" style="margin-left: 10px;margin-bottom: 16px;">
      <div>
        <div class="d-flex align-items-center">
          <h4><strong><%= "#{current_user.first_name} #{current_user.last_name}"%></strong></h4>
          <a href="/users/edit"> <i id="edit-button" class="fas fa-user-edit"></i></a>
        </div>
        <p style="margin: 0px 0px; opacity: 0.5;"> inscrit depuis le <%= I18n.l current_user.created_at, format:"%d %B %Y" %> </p>
      </div>
      <% if current_user.enterprise.photo.attached?  %>
        <div style="margin-left: 150px"><%= cl_image_tag current_user.enterprise.photo.key, style: "height: 50px" %></div>
      <% end %>
    </div>
    <div class="d-flex">
      <div class="m-2 text-success" style="background-color: rgba(109, 168, 179, 0.2);width: 150px;height: 100px;border-radius: 8px;">
        <div style="margin: 10px 10px;">
          <p style="margin: 6px 0px;">Pas du jour :</p>
          <% if current_user.steps.where(date: Date.today) == [] %>
            <% Step.create!(date: Date.today,user_id: current_user.id, nb_steps: 0)  %>
          <% end %>
          <h1><strong><%= number_with_delimiter(current_user.steps.where(date: Date.today).first.nb_steps, :delimiter => ',') %></strong></h1>
        </div>
      </div>
      <div class="m-2 text-success" style="background-color: rgba(109, 168, 179, 0.2);width: 150px;height: 100px;border-radius: 8px;">
        <div style="margin: 10px 10px;">
          <p style="margin: 6px 0px;"> Total de pas :</p>
            <h1><strong><%= number_with_delimiter(@sum_steps, :delimiter => ',') %></strong></h1>
        </div>
      </div>
      <div class="m-2 text-white" style="background-color: rgb(109, 168, 179);width: 150px;height: 100px;border-radius: 8px;">
        <div style="margin: 10px 10px;">
          <p style="margin: 6px 0px;"> Total de dons :</p>
          <h1><strong><%=@donation_events.round(1)%>€</strong></h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container text-center bg-white" style="width: 100%;margin-top: -70px;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; padding-bottom: 30px">
  <div style="padding-top: 30px;">
    <h1> Vos statistiques </h1>
    <h5 style="opacity: 0.5;"><%= @week_message %> </h5>
  </div>
  <div class="card-trip-statistics" style="padding: 20px 220px;">
    <ul class="nav nav-tabs user-tasks-navbar btn-group" id="myTab" role="tablist" style="">
      <li class="nav-item col-4" role="presentation" style="padding: 0px 0px">
        <a class="nav-link user-tasks-navbar-tab active" id="home-tab left" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" style="border-top-left-radius: 20px;border-bottom-left-radius: 20px;">Semaine</a>
      </li>
      <li class="nav-item col-4" role="presentation" style="padding: 0px 0px">
        <a class="nav-link user-tasks-navbar-tab" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Mois</a>
      </li>
      <li class="nav-item col-4" role="presentation" style="padding: 0px 0px">
        <a class="nav-link user-tasks-navbar-tab" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false" style="border-top-right-radius: 20px;border-bottom-right-radius: 20px;">Mois dernier</a>
      </li>
    </ul>
  </div>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div id="chart-week" style="height: 300px; margin-top: 40px" data-steps="<%= @week_steps.to_json %>"></div>
    </div>

    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div>
        <div id="chart-month" style="height: 300px; margin-top: 40px" data-steps="<%= @month_steps.to_json %>"></div>
      </div>
    </div>

    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <div>
        <div id="chart-previous-month" style="height: 300px; margin-top: 40px" data-steps="<%= @previous_month_steps.to_json %>"></div>
      </div>
    </div>
  </div>
  <%# <%= render 'shared/tasks_navbar_personal',
  label: "Vos statistiques",
  tab_one: "Semaine",
  tab_two: "Mois",
  tab_three: "Kilomètres",
  id_tab_one: "week", message_tab_one: @week_message, steps_tab_one: @week_steps,
  id_tab_two: "month", message_tab_two: @month_message, steps_tab_two: @month_steps,
  myclass: "" %>
</div>

<div class="container text-center bg-white" style="width: 100%;margin-top: 40px;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;"  >
  <div style="padding-top: 30px;">
    <h1> Vos teams</h1>
    <h5 style="opacity: 0.5;"><%= @team_message %> </h5>
  </div>
  <div class="card-trip-statistics" style="padding: 20px 220px;">
    <ul class="nav nav-tabs user-tasks-navbar btn-group" id="myTab" role="tablist" style="">
      <li class="nav-item col-4" role="presentation" style="padding: 0px 0px">
        <a class="nav-link user-tasks-navbar-tab active" id="team1-tab left" data-toggle="tab" href="#team1" role="tab" aria-controls="home" aria-selected="true" style="border-top-left-radius: 20px;border-bottom-left-radius: 20px;">Shoes qui peut</a>
      </li>
      <li class="nav-item col-4" role="presentation" style="padding: 0px 0px">
        <a class="nav-link user-tasks-navbar-tab" id="team2-tab" data-toggle="tab" href="#team2" role="tab" aria-controls="profile" aria-selected="false">Pas rit Go</a>
      </li>
      <li class="nav-item col-4" role="presentation" style="padding: 0px 0px">
        <a class="nav-link user-tasks-navbar-tab" id="team3-tab" data-toggle="tab" href="#team3" role="tab" aria-controls="contact" aria-selected="false" style="border-top-right-radius: 20px;border-bottom-right-radius: 20px;">Comme Pas 2</a>
      </li>
    </ul>
  </div>
  <%= render 'shared/tasks_navbar_team',
  label: "Vos teams",
  tab_one: "Team 1",
  tab_two: "Team 2",
  tab_three: "Team 3",
  id_tab_one: "team-one", message_tab_one: @team_message, steps_tab_one: @team_one_steps,
  myclass: "mt-5" %>
  <div class="d-flex justify-content-around row" style="margin-left: 58px; margin-right: 6px; margin-bottom: 40px; position: relative; z-index: 667; background: white; padding: 10px 0px;margin-top: -28px">
    <% @team.each do |member| %>
    <div class="col-3">
      <%= cl_image_tag member.photo.key, class: "avatar-bordered", style:"margin-right: 8px;"%>
      <p style="margin-top: 15px;"><%="#{member.first_name} #{member.last_name}"%></p>
    </div>
    <% end %>
  </div>
</div>

<div class="container" style="width:100%; height: auto;" id="social_div">
  <div>
    <div class="row">

      <div class="card-trip-statistics col-6" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px" >
        <h2>Mes amis</h2>
        <%= render  'shared/accepted_friends'%>
      </div>
      <div class="card-trip-statistics col-6" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px">
        <h2>Demandes d'amis en cours</h2>
        <%= render 'shared/pending_friends'%>
      </div>
    <div>
</div>

