<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path "zfpxtt05dxpj13ubfbn4"%>'); height: calc(50vh - 50px);">
  <div class="container d-flex align-items-center justify-content-center">
        <h1>LA CROIX ROUGE</h1>
    </div>
  </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-8 ">
            <div class="row">
                <div class="col-8 ">
                    <h2>Présentation de l'asso</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-8 ">
                    <h2>Ce que fait l'asso</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-8 ">
                    <h2>A quoi sert l'argent</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                </div>
            </div>
        </div>

         <div class="col-4 card-category">
            <div>
                <%= form_tag donation_payments_path do %>
                        <div class="d-flex">
                            <input disabled type="number" value=<%= @step_count %> id="total_steps" name="" class="box-donate">
                            <i class="fas fa-shoe-prints ml-2 shoes"></i>
                        </div>
                        
                        <div class="d-flex">
                            <input type="number" name="" class="box-donate" id="conversion_proposal">
                            <i class="fas fa-shoe-prints ml-2 shoes"></i>
                            <p class="p-emoticons">/ 1</p><i class="fas fa-euro-sign ml-2 euro"></i>
                        </div>

                        <div class="d-flex">
                            <input type="text" name="amount" class="box-donate" id="donation_output">
                            <i class="fas fa-praying-hands ml-2 hands"></i><br/>
                        </div>
                </div>
            </div>
            <%= hidden_field_tag 'charity_event_id', @charity_event.id %>
            <%= submit_tag 'Donate', class: 'donate-button' %>
            <% end %>
        </div>


    </div>
        <div class="banner">
        <div style="height: 45px; margin-bottom: 25px">
        <span id="banner" style="color: white"></span>
        </div>
        </div>
</div>



    <!-- querySelector pour sélectionner mes deux inputs -->
    <!-- eventlistener sur le changement de valeur de user-steps -->
    <!-- dans cet event listener, que cela mettre à jour le donation_figures -->

    ActiveSupport::NumberHelper.number_to_delimited(100000)
