<div class="banner_show" style="background-image: linear-gradient(139deg, rgba(8, 33, 37,0.5),rgba(109, 167, 178, 0.5) 65.8%, white 66%), url('<%= cl_image_path "frgowuivphntswpt8jx7"%>'); height: 400px;">

  <div class="d-flex justify-content-center mt-5">
    <h1 class="charity_event_title"><%= @charity_event.title %></h1>
  </div>
  <div class="d-flex justify-content-center mt-4">
     <h2 style="color: white"> du <%= I18n.l @charity_event.date_beginning, format:"%d %B" %> au <%= I18n.l @charity_event.date_ending, format:"%d %B" %></h2>
  </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-5">
            <div class="donate-explanations">
                <div class="title"><p class="p-none">Comment faire un don</p></div>
                <p class="card-category-description">
                    Sélectionner via notre simulateur de pas le nombre de pas que vous souhaitez offir pour 1€, cela calculera le montant de votre donation automatiquement
                </p>
            </div>
            
        </div>
        <div class="col-7">
            <div class="computed-donation">
                <div class="title">
                    <p class="p-none">Votre simulateur de don</p>
                </div>
            <div class="card-category">
                <%= form_tag donation_payments_path, method: "post" do %>
                    <div>
                        <p>Vous avez effectué 
                        <input disabled type="number" value=<%= @step_count %> id="total_steps" name="" class="box-donate">
                        pas depuis le début de l'évènement</p>
                            
                        <p>Si vous offrez<input type="number" name="" id="conversion_proposal">
                            pas / 1 euro <i class="fas fa-euro-sign ml-2 euro"></i>
                        </p>
                        <p>
                            cela permet de récolter <input type="text" name="amount" id="donation_output">
                            pour <%@charity_event.title%><i class="fas fa-praying-hands ml-2 hands"></i>
                        </p>
                        <%= hidden_field_tag 'charity_event_id', @charity_event.id %>
                        <%= submit_tag 'Faire la donation', id: 'donate-button' %>

                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>



<div class="banner">
    <div style="height: 45px; margin-bottom: 25px">
        <span id="banner" style="color: white"></span>
    </div>
</div>
