
<%# omniauth-google-oauth2 1.0.0 uses OmniAuth 2 and requires using HTTP Post to initiate authentication: %>
<%# <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, method: :post %>

<%# Devise prior 4.1.0: %>
<%# <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>
<div class="banner bannerh" style="background-image: linear-gradient(139deg, rgba(8, 33, 37,0.5),rgba(109, 167, 178, 0.5) 65.8%, white 66%), url('<%= cl_image_path("gzs2fzcyylsfmadmn1br")%>'); height: 80vh;">

  <div class="container">

    <div class="row justify-content-center align-items-start">

      <div class="col-6" style="">
        <div>
          <h1 class="" style="font-size: 40px">Faites un pas pour ceux qui ne peuvent pas et donnez, en marchant, tout simplement !</h1>
        </div>
        <div style="color: white">
          <h5 style="color: white; font-size: 30px; margin-bottom: 20px; margin-top: 50px">Fin des dons dans :</h5>
          <div class="d-flex">
            <span class="countdown-box"><h1 id="countdown-d"></h1><h5>jours</h5></span>
            <span class="countdown-box"><h1 id="countdown-h"></h1><h5>heures</h5></span>
            <span class="countdown-box"><h1 id="countdown-m"></h1><h5>minutes</h5></span>
            <span class="countdown-box"><h1 id="countdown-s"></h1><h5>secondes</h5></span>
          </div>
        </div>
      </div>

      <div class="col-6 ">
        <div class="card-trip" style= "height: 100%; border-radius: 20px;">
          <div class="container my-3">
            <div class="d-flex align-items-center">
              <%= cl_image_tag "rvmakbvta1d8hsdxfddk", class: "logo-charity"%>
              <div>
                <h3 class="mt-2 ml-4"><strong><%= @charity_event.charity_name %></strong></h3>
                <p class="ml-4"><%= @charity_event.title %></p>
              </div>
            </div>
            <p class="mt-2"><%= @charity_event.description %></p>
            <p class="mt-2 mb-2"> <span style="color: green">Evenement ouvert</span>  Ferme le 6 juin 2021</p>
            <div class="d-flex mt-4">
              <%= link_to "Découvrir #{@charity_event.charity_name}", charity_event_path(@charity_event), class: "mr-3 p-2", id: "charity-btn" %>
              <%= link_to "Faire un don", donate_path, class: "btn btn-success p-2", :style => "color: white; border-radius: 10px"%>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>


<%# A CREER AVEC DES SEEDS DE CHARITY EVENTS PASSES %>

<div class="container mt-5 mb-3">

  <div class="row">
    <div>
      <div class="d-flex justify-content-between align-items-center">
        <h1>Evenements passés</h1>
      </div>
      <% @charity_events_past.each do |event| %>
        <div class="d-flex justify-content-between align-items-center">
          <div class="card-product mt-4">
            <% if event.photo.attached? %>
              <%= cl_image_tag event.photo.key, crop: :fill %>
            <% else %>
              <%= cl_image_tag 'kejqlbte4g06qwqijunz', crop: :fill %>
            <% end %>
            <div class="card-product-infos">
              <div>
                <h2><%= event.charity_name %></h2>
                <p><%= event.description %></p>
              </div>
              <div class="text-center box-donate2" style="border-radius: 5px;">
                <p class='m-0'><strong>Dons récoltés: <%= number_with_delimiter(event.total_donation, :delimiter => ' ') %> €</strong></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<hr>

<%# <div class="container text-center mt-5 mb-3">

  <%# <%= render 'shared/tasks_navbar_homepage',
  label: "Palmarès en cours",
  tab_one: "Meilleures Entreprises",
  tab_two: "Meilleurs Marcheurs",
  tab_three: "Meilleures Teams",
  message_tab_one: "Les Top entreprises sont triées par nombre de pas moyen par employé.", steps_tab_one: @top_three_companies,
  message_tab_two: "Les Top marcheurs sont triés par nombre de pas total sur l'évènement.", steps_tab_two: @top_three_walkers,
  message_tab_three: "Les Top teams sont triees par nombre de pas total sur l'évènement.", steps_tab_three: @top_three_teams,
  myclass: "" %>

<%# </div> %>




<%# A LAISSER - CODE JAVASCRIPT POUR COUNTDOWN %>
<script>
// Set the date we're counting down to
var countDownDate = new Date("Jun 7, 2021 12:00:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24)).toLocaleString('en-US', {
    minimumIntegerDigits: 2,
    useGrouping: false
  });
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)).toLocaleString('en-US', {
    minimumIntegerDigits: 2,
    useGrouping: false
  });
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)).toLocaleString('en-US', {
    minimumIntegerDigits: 2,
    useGrouping: false
  });
  var seconds = Math.floor((distance % (1000 * 60)) / 1000).toLocaleString('en-US', {
    minimumIntegerDigits: 2,
    useGrouping: false
  });

  // Output the result in an element with id="demo"
  <%# document.getElementById("countdown-d").innerHTML = days + "j " + hours + "h "
  + minutes + "m " + seconds + "s "; %>
  if (document.getElementById("countdown-d")){
    document.getElementById("countdown-d").innerHTML = days;
    document.getElementById("countdown-h").innerHTML = hours;
    document.getElementById("countdown-m").innerHTML = minutes;
    document.getElementById("countdown-s").innerHTML = seconds;
  }
  // If the count down is over, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("countdown").innerHTML = "Event is finished !";
  }
}, 1000);
</script>
