
<%# omniauth-google-oauth2 1.0.0 uses OmniAuth 2 and requires using HTTP Post to initiate authentication: %>
<%# <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, method: :post %>

<%# Devise prior 4.1.0: %>
<%# <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner_home.jpg"%>'); height: 65vh; padding: 40px;">

  <div class="container">

    <div class="row">

      <div class="col-6 d-flex flex-column justify-content-between" style="position: relative; left: -80px; text-align: center">
        <div>
          <h1 class="" style="font-size: 44px">Un pas pour les autres</h1>
          <p class="mt-2">Faites un pas pour ceux qui ne peuvent pas - et donnez, en <strong>marchant</strong>, tout simplement !</p>
        </div>
        <div style="color: white">
          <h1 style="font-size: 24px; margin-bottom: 20px">Fin des dons dans:</h1>
          <div class="d-flex justify-content-center">
            <h3 id="countdown-d" class="countdown-box"></h3>
            <h3 id="countdown-h" class="countdown-box"></h3>
            <h3 id="countdown-m" class="countdown-box"></h3>
            <h3 id="countdown-s" class="countdown-box"></h3>
          </div>
        </div>
      </div>

      <div class="col-6 ">
        <div class="card-trip" style= "height: 100%; border-radius: 4px">
          <div class="container my-3">
            <div class="d-flex align-items-center">
              <%= image_tag("restos_du_coeur_logo.jpeg", size: 80, class: "logo-charity")%>
              <h3 class="mt-2 ml-4"><strong><%= @charity_event.charity_name %></strong></h3>
            </div>
            <h1 class="mt-4"><%= @charity_event.title %></h1>
            <p class="mt-2"><%= @charity_event.description %></p>
            <div class="d-flex mt-4">
              <%= link_to "Découvrir #{@charity_event.charity_name}", charity_event_path(@charity_event), class: "mr-3 p-2", id: "charity-button" %>
              <%= link_to "Faire un don", donate_path, class: "btn btn-success p-2", :style => "color: white"%>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>


<%# A CREER AVEC DES SEEDS DE CHARITY EVENTS PASSES %>
<div class="container my-5">

  <div class="row">

    <div class="col-8">
      <h1>Evenements passés</h1>
      <div class="card-product mt-4">
        <img src="https://www.tousbenevoles.org/images/association/1565005876.png" />
        <div class="card-product-infos">
          <h2>Fondation Abbé Pierre</h2>
          <p>La fondation Abbé-Pierre pour le logement des défavorisés (FAP), reconnue d'utilité publique le 11 février 1992 , a pour mission de permettre à toute personne démunie d'accéder à un logement décent et à une vie digne, quels que soient le montant de ses ressources et sa situation sociale.</p>
        </div>
      </div>
      <div class="card-product mt-4">
        <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/6/69/MSF.svg/1200px-MSF.svg.png" />
        <div class="card-product-infos">
          <h2>Médecins sans Frontières</h2>
          <p>Depuis près de cinquante ans, Médecins Sans Frontières apporte une assistance médicale à des populations dont la vie ou la santé sont menacées, en France ou à l'étranger : principalement en cas de conflits armés, mais aussi d'épidémies, de pandémies, de catastrophes naturelles ou encore d'exclusion des soins.</p>
        </div>
      </div>
      <div class="card-product mt-4">
        <img src="https://handicap-international.fr/sn_uploads/fck/L_Handicap_FR_Small_Horiz_blue_rgb.png" />
        <div class="card-product-infos">
          <h2>Handicap International</h2>
          <p>Handicap International est une ONG de solidarité internationale qui intervient dans une soixantaine de pays. L’association intervient dans les situations de pauvreté et d’exclusion, de conflits et de catastrophes aux côtés des personnes handicapées et des populations vulnérables.</p>
        </div>
      </div>
    </div>

    <div class=" flex-container col-4">
      <h1>Dons récoltés</h1>
      <div class=" bg-primary text-center">
          <h1 class='m-0'>145 067 €</h1>
      </div>
      <div class="">
        <h1 class='m-0'>90 256 €</h1>
      </div>
      <div class="">
        <h1 class='m-0'>456 304 €</h1>
      </div>
    </div>

  </div>

</div>




<%# A LAISSER - CODE JAVASCRIPT POUR COUNTDOWN %>
<script>
// Set the date we're counting down to
var countDownDate = new Date("Jun 7, 2021 12:00:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Output the result in an element with id="demo"
  <%# document.getElementById("countdown-d").innerHTML = days + "j " + hours + "h "
  + minutes + "m " + seconds + "s "; %>
  document.getElementById("countdown-d").innerHTML = days + " j";
  document.getElementById("countdown-h").innerHTML = hours + " h";
  document.getElementById("countdown-m").innerHTML = minutes + " m";
  document.getElementById("countdown-s").innerHTML = seconds + " s";

  // If the count down is over, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("countdown").innerHTML = "Event is finished !";
  }
}, 1000);
</script>
